.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dark-mode {
  background-color: #333;
  color: white;
}

/* add margin to the left and right*/
.center-horizontal {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 1000px;
  min-width: 300px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

body {
  margin-top: 50px;
  margin-bottom: 100px;
}